$colour-primary :#55c57a;
$colour-primary-light :#7ed56f;
$colour-primary-dark :#28b485;
$colour-grey-dark : #777;
$colour-white: #fff;
$colour-black: #000;

$colour-grey-light-1:#f7f7f7;


//grid

$grid-width: 114rem;
$gutter-vertical :6rem;
$gutter-horizontal:4rem;