
.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($colour-primary-light, 0.76),
        rgba($colour-primary-dark, 0.801)
      ),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
  
    &__logobox {
      position: absolute;
      top: 2rem;
      left: 2.5rem;
      backface-visibility: hidden;
    }
    
    &__logo {
      height: 3.5rem;
    }
    
    &__logo:hover {
        animation: moveInright 1s ease-out;
        
      }
  
      &__textbox{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
  
  
  }