.navigation {
  &__checkbox {
    display: none;
  }
  &__label {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    background-color: $colour-grey-light-1;
    top: 6.3rem;
    right: 6.3rem;
    z-index: 4;
    box-shadow: 0 2rem 3rem rgba($colour-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(phone) {
      top: 2.2rem;
      right: 2.2rem;
    }
    


    &:hover .navigation__icon::before {

       top: -1rem
    }

    &:hover .navigation__icon::after {

        bottom: -1rem
    }
  }
  &__bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $colour-primary-light,
      $colour-primary-dark
    );
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 2;
    //transform: scale(80);

    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
    }
  }

&__icon{
    
    position: relative;
    margin-top: 3rem;
    transition: all 1s;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 2px;
        background-color: black;
        display: inline-block;
        transition: all 0.3s;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
    }

    &::before {top: -0.8rem}
    &::after {bottom: -0.8rem}


}



}

.nav {
  // height: 100vh;

  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
  z-index: 3;

  &__list {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &-li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      padding: 1rem;
      color: $colour-white;
      text-decoration: none;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 400;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $colour-white 50%
      );
      background-size: 220%;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $colour-primary;
    }
  }
}
.navigation__checkbox:checked ~ .nav {
  width: 100%;
 
  opacity: 1;
}

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80);
}


.navigation__checkbox:checked + .navigation__label .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation__label .navigation__icon::before   {
    transform: rotate(-45deg);
  }

  .navigation__checkbox:checked + .navigation__label .navigation__icon::after {
      top: 10px;
    transform: rotate(45deg);
  }


